.grid {
    border: solid black;
    display: flex;
    flex-wrap: wrap;
    height: 258px;
    width: 300px;
}

.grid div {
    height: 40px;
    width: 40px;
    margin: 1px;
}

.player-one {
    background-color: red;
    border-radius: 20px;
}

.player-two {
    background-color: blue;
    border-radius: 20px;
}